* {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  background-color: #2c3e50;
  color: white;
  padding: 65px 0px 90px 0px;
  margin-bottom: 40px;
}

.uploadForm {
  text-align: center;
}

h3 {
  text-align: center;
}
